# RevenueCat
EXPO_PUBLIC_REVENUECAT_API_KEY=goog_zygYwkQAZslvTGVXfXlTSDgdgCH

# Firebase Analytics / Crashlytics
EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyDRP9SjtFCAEtgacA3GFKhNshyH1Yjkvw4
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=peakpact-7733c.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=peakpact-7733c
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=peakpact-7733c.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=272455662852
EXPO_PUBLIC_FIREBASE_APP_ID=1:272455662852:android:efcdd3efb27a1b79f32451
